@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #339ff4;
    --text-primary: #070937;
}

body {
    margin: 0;
    color: var(--text-primary);
}

#wrapper {
    font-family: 'Istok Web', sans-serif;
    max-width: 100%;
}


header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    position: fixed;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

header > a {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

header img {
    margin-right: 10px;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--text-primary);
    text-decoration: none;
}

.hero > img {
    max-width: 100%;
}

main {
    margin: 0 10dvw;
}