@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #339ff4;
    --secondary: #a7d0ff;
    --text-primary: #070937;
    --text-secondary: #298dc7;
}

body {
    margin: 0;
    color: var(--text-primary);
}

#wrapper {
    font-family: 'Istok Web', sans-serif;
    display: grid;
}

p {
    font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
}

header {
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    position: fixed;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

header > a {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

header img {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    height: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    display: block;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.2)
    ), url("img/hero.jpg");
    height: 25vh;
    background-size: cover;
    padding: 2rem;
    margin-top: 6.5rem;
    text-align: center;
    color: white;
}

.hero h1 {
    text-align: center;
    font-size: 7vh;
    font-weight: lighter;
    margin-top: 6vh;
    margin-bottom: 3vh;
}

.button {
    text-decoration: none;
    color: white;
    background: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: var(--text-secondary);
}


main {
    margin: 0 10dvw;
    display: flex;
    flex-direction: column;
}

.centered {
    max-width: 45rem;
    text-align: center;
    margin-inline: auto;
}

.block-text {
    max-width: 45rem;
    text-align: justify;
    margin-inline: auto;
}

.block-right {
    max-width: 45rem;
    text-align: right;
    margin-inline: auto;

}

.card {
    margin: auto;
    outline: solid var(--secondary);
    border-radius: 20px;
    padding: 0 1rem 1.5rem 1rem;
}

.inline {
    display: inline-block;
    margin: 0.2rem 0;
}

.bewertungen {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 3rem;
}

.ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rating {
    margin: auto;
    outline: solid var(--secondary);
    border-radius: 20px;
    padding: 0.6rem 1rem;
    width: 35rem;
}

.rating h4 {
    font-size: larger;
    margin: 0 0 0.4rem;
}

.rating p {
    margin: 0;
}

.rating img {
    width: 7rem;
}

#stars {
    width: 35rem;
}

section {
    margin: 2rem 0;
}

.flex-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}