@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #339ff4;
    --secondary: #a7d0ff;
    --text-primary: #070937;
    --text-secondary: #298dc7;
}

body {
    margin: 0;
    color: var(--text-primary);
}

#wrapper {
    font-family: 'Istok Web', sans-serif;
    max-width: 100%;
}


header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    position: fixed;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
}

header > a {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

header img {
    margin-right: 10px;
    margin-bottom: 6px;
    height: 10vh;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: bold;
}

.behind-header {
    height: 12vh;
}

.hero {
    display: flex;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.2)
    ), url("img/hero.jpg");
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.hero h1 {
    color: white;
    text-align: center;
    font-size: xxx-large;
    font-weight: lighter;
    margin: 0.1rem 0;
}

.button {
    text-decoration: none;
    color: white;
    background: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: var(--text-secondary);
}


main {
    margin: 0 10dvw;
}